PYTHONPATH = '/workspaces/mads-siads-699-winter-2026-capstone/src'

MADS_CAPSTONE_ENV = "dev"
MADS_CAPSTONE_VERSION = "0.0.1"

AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""
AWS_REGION = "us-east-1"
AWS_S3_BUCKET = "mads-siads-699-wi26-team-4"

LIBRARIESIO_API_KEY = ""